.modal {
  width: min(420px, 90vw);
}

.fieldContainer,
.prefsContainer,
.btnContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin: var(--space-l) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prefsContainer {
  max-height: min(350px, 40vh);
  overflow-y: auto;
}

.fieldContainer select {
  width: fit-content;
}